SUPABASE_DATABASE_URL="postgresql://user:password@host:port/dbname"

# NextAuth configuration
# Generate secret on UNIX using: openssl rand -base64 32
NEXTAUTH_SECRET="your-signing-secret-key-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# Application public site URL
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
